p1 {
    font-family: 'shrikhand', cursive;
    color: rgb(171, 228, 208);
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-family: 'shrikhand', cursive;
    color: rgb(171, 228, 208);
    font-size: 2rem;
    text-align: center;
}