.navbar {
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content:space-around;
    box-shadow: 7px 9px 7px 29px  lightskyblue;
   

}
 .navbar ul {
     display: flex;
     list-style: none;

 }

 .navbar ul li {
     font-weight: 500;
     margin: 3rem;

 }

 .navbar ul li:hover {
     border-bottom: 2px solid #0073ff;
 }

 .navbar h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    text-shadow: 0 0 10px rgb(255, 234, 0), 
                0 0 20px #FAD88C, 
                0 0 30px #C949B5,
                0 0 40px #C949B5,
                0 0 50px #e60073, 
                0 0 60px #e60073, 
                0 0 90px #ffd941;
   }

 .navbar a {
     text-decoration: none;
     color:  rgb(235, 235, 227);

 }