.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
  
    justify-content:space-around;
    background-image: none;
    

}
 .navbar ul {
     display: flex;
     list-style: none;

 }

 .navbar ul li {
     font-weight: 500;
     margin: 3rem;

 }ßß

 .navbar ul li:hover {
     border-bottom: 2px solid #0073ff;
 }

 .navbar h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    text-shadow: 0 0 10px #ED8B93, 
                0 0 20px #FAD88C, 
                0 0 30px #f973b6, 
                0 0 40px #008ee6, 
                0 0 50px #f45ea9, 
                0 0 60px #e60073, 
                0 0 70px #00e2e69c;
   }

 .navbar a {
     text-decoration: none;
     color: rgb(255, 234, 0);

 }